* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; /*정확한 계산위해 기본 마진과 패딩 값을 0으로 초기화 하고 시작*/
}

html {
    background: url("https://media.istockphoto.com/id/1397030090/ko/%EC%82%AC%EC%A7%84/%EC%95%84%EB%A6%84%EB%8B%A4%EC%9A%B4-%EC%9D%BC%EB%AA%B0%EC%97%90-%EA%B5%AC%EB%A6%84%EC%9D%B4%EC%9E%88%EB%8A%94-%ED%99%94%EB%A0%A4%ED%95%9C-%ED%8C%8C%EC%8A%A4%ED%85%94-%ED%95%98%EB%8A%98%EC%9D%84-%EC%9E%90%EC%97%B0-%EB%B0%B0%EA%B2%BD%EC%9C%BC%EB%A1%9C-%EC%82%BC%EC%8A%B5%EB%8B%88%EB%8B%A4.jpg?b=1&s=170667a&w=0&k=20&c=Fxg9begt3Rq0K4kwylhBbejDN4AHD0qK2zFgVd4xG90=") no-repeat center center fixed;
    background-size: cover; /*object-fit 속성과 동일*/
}

.nav-wrapper {
    padding: 20px;
    display: flex;
    justify-content: flex-end; /*좌우 정렬*/
    align-items: center; /*위아래 정렬*/
}

ul {
    display: flex;
    list-style-type: none; /*점 없애기*/
}

.nav li { /*nav 클래스 안에 li 태그를 의미*/
    padding: 0 15px; /*상하 좌우 패딩 설정*/
}

.nav li a{
    text-decoration: none; /*밑줄 지우기*/
}

.nav li a:visited {
    color: white;
}

.nav li a:hover {
    color: skyblue;
}

.logo {
    margin-right: auto; /*남은 빈공간을 로고의 오른쪽 공간으로 할당*/
}

.main-text {
    text-align: center;
    padding: 100px;
    color: white;
}

.card {
    width: 300px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px; /*모서리 둥글게*/
    box-shadow: 0px 2px 20px gray; /*좌우 위아래 퍼지는정도 색깔*/
    margin: 30px;
    transition: 0.3s; /*카드 올라오는거 부드럽게*/
    position: relative; /*card 배너(자식)에 absolute  처리하면 사진이 가장 가까운 조상인 카드로 위치 이동+원래 위치 잃어버림*/
}

.card-banner img {
    width: 100%; /*부모요소 기준으로 100%*/
    height: 230px;
    object-fit: cover; /*꽉 채우고 비율 유지*/
    position: absolute;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap; /*좁아질 때 자동으로 내려가게*/
    justify-content: center;
}

.card-body {
    margin: 240px 15px 15px; /*카드 다시 보이게 높이 230이니까 240으로*/
}

.hashtag {
    font-size: 12px;
    color: cornflowerblue;
}

.title {
    font-weight: 800; /*굵기 결정*/
    font-size: 20px;
    margin-bottom: 5px;
}

.desc {
    font-size: 15px;
}

.card:hover {
    transform:translateY(-10px); /*마우스 클릭시 위로 10픽셀 올라옴*/
}

